SQLSERVER_SA_PASSWORD=Your_strong_Password123!
SQLSERVER_DB=aviones_distribuidos
SQLSERVER_PORT=15433
MONGO_PORT=27018
BACKEND_PORT=3002
FRONTEND_PORT=3003
MONGODB_URI=mongodb://mongo:27017
MONGODB_DB_NAME=sarp_auditoria
MONGODB_COLLECTION_EVENTOS=eventos_operaciones
